@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf'); 
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Figtree',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.25rem;
    background-color:#f4d04e;
    max-width: 90rem; 
}
.container{ 
    width:23.5rem;
    /* max-width: 23.5rem; */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    border: 2px solid #4b3a3a;
    padding: 1.2em;
    border-radius: 1.875rem;
    box-shadow: 10px 10px ;
    margin-top: 10em;
}
.container>p:nth-of-type(2){
    color: #6b6b6b;
}
.container :nth-child(3){
   order: -1;
}
.container :nth-child(4){
   order: -1;
}
.btn{
    background-color: #f4d04e;
    width: 5.625rem;
    padding: 0.5em;
    border-radius: 7px;
    text-align: center;
    font-weight: bold;
}
.avatar{
    display: flex;
    gap: 0.8em;
    font-weight: bold;
    align-items: center;
}
.avatar img{
    width:2rem;
}
.img{
    border-radius: 10px;
    order: -1; 
} 
h1{
    font-size: 1.8rem;
}
h1:hover,
h1:focus{
    color:#f4d04e ;
    cursor: pointer;
}
.attribution { font-size: 1.3rem; }
.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif
}